.extc{
	text-align: center;
}

.containh{
	 display: flex;
	 flex-wrap: wrap;
	 min-height: 20rem;
	 align-items: center;
	 justify-content: center;
	 background: #e7f3f1;
	 border: 0.75em solid white;
	 padding: 2em;
	 font-family: 'Open Sans', sans-serif;
}

.lij{
	margin-top: 1rem;
	text-align: center;
}

.ghb{
	padding: 0.5rem;
	border-radius: 0.3rem;
	background-color: #cf3b6b;
}


.heads{
	color: #cf3b6b;
	font-size: 1rem;
	/* text-align: left; */
}

.a-box {
	display: inline-block;
	width: 23rem;
	padding: 2rem;
	text-align: center;
}
  

  .img-container {
	  height: 230px;
	  width: 200px;
	  overflow: hidden;
	  border-radius: 0px 0px 20px 20px;
	  display: inline-block;
  }
  
  .img-container img {
	  transform: skew(0deg, -13deg);
	  height: 250px;
	  margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
	  display: inline-block;
	  border-radius: 20px;
	  overflow: hidden;
	  padding: 0px;
	  transform: skew(0deg, 13deg);
	  font-size: 0px;
	  margin: 30px 0px 0px 0px;
	  background: #c8c2c2;
	  height: 250px;
	  width: 200px;
	  /* float: right; */
	  /* text-align: center; */
  }
  
  .text-containerr {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	padding: 120px 20px 20px 20px;
	border-radius: 20px;
	/* background: #fff; */
	text-align: left;
	background: #ececee;
	margin: -120px 0px 0px 0px;
	line-height: 19px;
	font-size: 14px;
  }
  
  .text-containerr h3 {
	margin: 20px 0px 10px 0px;
	color: #04bcff;
	font-size: 18px;
  }

  @media (max-width: 280px) {
    .a-box{
      font-size:0.6rem;
	  width: 18rem;
    }
  
}