@import url('https://fonts.googleapis.com/css?family=Montserrat');


.profileh3 {
	margin: 10px 0;
}

.profileh6 {
	margin: 5px 0;
	text-transform: uppercase;
}

.profilep {
    margin-top: 1.8rem;
	font-size: 14px;
	line-height: 21px;
}

.card-containerr-profile {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
    margin-left: 45rem;
    margin-top: 4rem;
    height: 25rem;
}


.card-containerr-profile .roundd {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
    margin-top: 1.5rem;
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

@media (max-width: 1600px) {
	.card-containerr-profile{
		margin-left: 28rem;
	}

}
  

@media (max-width: 1025px) {
	.card-containerr-profile{
		margin-left: 21rem;
	}

}



@media (max-width: 923px) {
	.card-containerr-profile{
		margin-left: 15rem;
	}

}

@media (max-width: 821px) {
	
	.card-containerr-profile{
		margin-left: 15rem;
	}

}
@media (max-width: 769px) {
	
	.card-containerr-profile{
		margin-left: 13rem;
	}

}

@media (max-width: 592px) {
  
	.card-containerr-profile{
		margin-left: 8rem;
	}
}


@media (max-width: 542px) {
  
	.card-containerr-profile{
		margin-left: 6rem;
	}

}
@media (max-width: 465px) {
  
	.card-containerr-profile{
		margin-left: 3rem;
	}

}

@media (max-width: 415px) {
  
	.card-containerr-profile{
		margin-left: 2rem;
	}

}
@media (max-width: 393px) {
  
	.card-containerr-profile{
		margin-left: 1.5rem;
	}

}


@media (max-width: 377px) {
	
	.card-containerr-profile{
		margin-left: 1rem;
	}

}

@media (max-width: 361px) {
	
	.card-containerr-profile{
		margin-left: 0.2rem;
	}

}



@media (max-width: 285px) {



}

