.page-contain {
	 display: flex;
	 flex-wrap: wrap;
	 min-height: 20rem;
	 align-items: center;
	 justify-content: center;
	 background: #e7f3f1;
	 border: 0.75em solid white;
	 padding: 2em;
	 font-family: 'Open Sans', sans-serif;
}
 .data-card {
	 display: flex;
	 flex-direction: column;
	 flex-wrap: wrap;
	 width: 19rem;
	 height: 15rem;
	 overflow: hidden;
	 border-radius: 0.4rem;
	 text-decoration: none;
	 background: white;
	 margin: 0.83rem;
	 padding: 2.29rem 2.08rem;
	 box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, .1);
	 transition: transform 0.45s ease, background 0.45s ease;
}
 .data-card h4 {
	 color: #2e3c40;
	 font-size: 3.5em;
	 font-weight: 600;
	 line-height: 1;
	 padding-bottom: 0.5em;
	 margin: 0 0 0.142857143em;
	 border-bottom: 2px solid #753bbd;
	 transition: color 0.45s ease, border 0.45s ease;
}

 .data-card p {
	 opacity: 0;
	 color: #fff;
	 font-weight: 600;
	 line-height: 1.8;
	 margin: 0 0 1.25em;
	 transform: translateY(-1em);
	 transition: opacity 0.45s ease, transform 0.5s ease;
}
 .data-card .link-text {
	 display: block;
	 color: #753bbd;
	 font-size: 1.2rem;
	 font-weight: 600;
	 line-height: 1.2;
	 margin: auto 0 0;
	 transition: color 0.45s ease;
}
 .data-card:hover {
	 background: #753bbd;
	 transform: scale(1.02);
}
 .data-card:hover h3 {
	 color: #fff;
	 border-bottom-color: #a754c4;
}
 .data-card:hover h4 {
	 color: #fff;
}
 .data-card:hover p {
	 opacity: 1;
	 transform: none;
}
 .data-card:hover .link-text {
	 color: #fff;
}

 @keyframes point {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(0.125em);
	}
}
 

@media (max-width: 1600px) {

}
  

@media (max-width: 1025px) {


}



@media (max-width: 923px) {


}

@media (max-width: 821px) {
	


}
@media (max-width: 769px) {
	


}
@media (max-width: 617px) {
  /* html{
	font-size:80%
  } */

}

@media (max-width: 592px) {
  

}


@media (max-width: 542px) {
  
	.data-card{
		font-size: 0.8rem;
		width: 17rem;
		height: 15rem;
	}
	/* html{
		font-size: 45%;
	} */

}

@media (max-width: 415px) {
	.data-card{
		font-size: 0.8rem;
		width: 18rem;
		height: 15rem;
	}
  

}
@media (max-width: 393px) {
  


}


@media (max-width: 377px) {
	
	.data-card{
		font-size: 0.8rem;
		width: 18rem;
		height: 15rem;
	}

}

@media (max-width: 361px) {
	


}



@media (max-width: 285px) {
	.data-card{
		font-size: 0.4rem;
		width: 12rem;
		height: 12rem;
	}

	/* html{
		font-size: 30%;
	} */

}