@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.sectionn{
	width: 100%;
	min-height: 100vh;
	background-color: #282828;
  color: #fff;
}
.containeer{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.contennt-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	/* border-radius:100%; */
	clip-path: circle();
}
.contennt-section .titlle{
	text-transform: uppercase;
	font-size: 28px;
}
.contennt-section .contenttt h3{
	margin-top: 20px;
	color:#f25741;
	font-size: 21px;
}
.contennt-section .contenttt p{
	margin-top: 10px;
	font-family: cursive;
	font-size: 18px;
	line-height: 1.5;
}

.contennt-section .info {
	/* display: flex; */
	block-size: 40%;
	/* margin-top: 3rem; */
	/* padding: 10px; */
	font-family: cursive;
}



.contennt-section .contenttt .button{
	margin-top: 30px;
}
.contennt-section .contenttt .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.contennt-section .contenttt .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.contennt-section .social{
	margin: 40px 40px;
}
.contennt-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.contennt-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.containeer{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.contennt-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.contennt-section .titlle{
	text-align: center;
	font-size: 19px;
}
.contennt-section .contenttt .button{
	text-align: center;
}
.contennt-section .contenttt .button a{
	padding:9px 30px;
}
.contennt-section .social{
	text-align: center;
}

}
