  .note{
    color: black;
    font-size: 0.9rem;
  }
  
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin-top: 8rem;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .bgg{
    margin-top: 1rem;
    background-color:#03e9f4 ;
    cursor: pointer;
    border: none;
    padding: 0.6rem;
    border-radius: 0.4rem;
    color: #fff;
    margin-left: 6rem;
    /* text-align: center; */
  }

  .dropdown{
    border: none;
    /* text-decoration: none; */
    width: 7rem;
    margin-left: 5.5rem;
  }
  
  .pjh{
    color: #03e9f4;
    font-size: 0.8rem;
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  select {
    appearance: none;
    outline: 0;
    text-align: center;
    background:#03e9f4;
    /* background-image: none; */
    /* width: 100%;
    height: 100%; */
    height: 2.3rem;
    color: black;
    cursor: pointer;
    /* border: 1px solid black; */
    border-radius: 3px;
}
 
.select {
    position: relative;
    display: block;
    /* line-height: 3; */
    overflow: hidden;
    border-radius: .25em;
    /* padding-bottom: 10px; */
}